@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

button {
  background-color: #fff;
  margin: 15px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #000;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(182, 177, 177);
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width: 709px) {
  .container h1 {
    font-size: 5.5rem;
  }
}

@media (max-width: 451px) {
  .container h1 {
    font-size: 3rem
  }
}